*.[oa]
*~
*.obj
*.pro.user*
prj/*/*/Makefile*
prj/daqadcreceiver/daqadcreceiver_qt/daqadcreceiver
sys/*/bin/*
sys/*/.objects/*
prj/*/*/debug/*
prj/*/*/release/*
moc_*.cpp
workspaces
.gitattributes
prj/*/*/x64
prj/*/*/Win32
prj/*/*/*.filters*
!sys/*/bin/setup_environment.bat
prj/tests/*/*
!prj/tests/*/*.vcxproj
!prj/tests/*/*.sln
!prj/tests/*/*.pro
!prj/tests/*/Makefile
.DS_Store
.qmake.stash
*after-import-key-*.wallet
*.so*
src/.old
!prj/server/laserbeamline_server_mkfl/Makefile
